.card{
    width: 300px;
    height: 500px;
    border: groove black;
    text-align: center;
    background-color: skyblue;
    margin: auto;
}
.image {
    padding: 10px;
    width: 200px;
    height: 200px;
}
h1 {
    text-align: center;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100px;
    text-align: center;
    padding: 15px;

}
button{
    border: solid ;
    background-color: skyblue;
    

}
